<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
  <title>列表排序</title>
</head>

<body>
  <div id="root">
    <h2>列表排序</h2>
    <input type="text" placeholder="请输入姓名" v-model="keyWord">
    <button @click="sortType = 2">年龄升序</button>
    <button @click="sortType = 1">年龄降序</button>
    <button @click="sortType = 0">原顺序</button>
    <ul>
      <li v-for="p in filePerson" :key="p.id">
        {{p.name}} - {{p.age}} - {{p.sex}}
      </li>
    </ul>
  </div>


  <script>
    new Vue({
      el: '#root',
      data() {
        return {
          personArr: [
            { id: 001, name: '周冬雨', sex: '女', age: 20 },
            { id: 002, name: '马冬梅', sex: '女', age: 60 },
            { id: 003, name: '周杰伦', sex: '男', age: 12 },
            { id: 004, name: '温兆伦', sex: '男', age: 21 },
          ],
          keyWord: '',
          sortType: 0 //0原顺序,1降序,2升序
        }
      },
      computed: {
        filePerson() {
          const arr = this.personArr.filter((p) => {
            return p.name.indexOf(this.keyWord) !== -1
          })
          if (this.sortType !== 0) {
            arr.sort((a, b) => {
              return this.sortType === 1 ? (a.age - b.age) : (b.age - a.age)
            })
          }
          return arr
        }
      }
    })
  </script>
</body>

</html>