<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>计算属性</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
</head>

<body>
  <div id="root">
    姓: <input type="text" v-model="firstName"><br />
    名: <input type="text" v-model="lastName"><br />
    全名: <span>{{fullName}}</span><br />
    全名: <span>{{fullName}}</span><br />
    全名: <span>{{fullName}}</span><br />
    全名: <span>{{fullName}}</span><br />
  </div>

  <script>
    const vm = new Vue({
      el: '#root',
      data: function () {
        return {
          firstName: '张',
          lastName: '三'
        }
      },
      computed: {
        fullName: {
          //当有人读取fullName时，get就会被调用,且返回值为FullName的值
          //get 什么时候调用？1.初次读取fullName时 2.所依赖的数据发生变化时
          get() {
            console.log('get被调用了')
            return this.firstName + '-' + this.lastName
          },
          //set什么时候被调用? 当fullName被修改时
          set(value) {
            console.log('我是帅哥', value)
            const arr = value.split('-')
            this.firstName = arr[0]
            this.lastName = arr[1]
          }
        }
      }

    })
  </script>

</body>

</html>